<div class="main-container">
  <div class="header">
    Dépenses
    Revenue
  </div>
  <div class="number">
    <input type="number">
    <p>€</p>
  </div>
  <div class="account">
    <p class="title-input">Sélection du compte</p>
  </div>
  <div class="categories">
    <p class="title-input">Catégories</p>
    <div class="list">
      <div class="category">
        <div class="icon"></div>
        Nom_catégorie
      </div>
    </div>
  </div>
  <div>
    <p class="title-input">Date</p>
    <input type="date" name="date" id="">
  </div>
</div>
